

html, body{
    background-color: #230312;
    color: white;
    text-align: center;
    font-size: 1.25em;
}

.mainContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.infoContainer{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas: 
    "title title"
    "image ingredients"
    "instruction info";


}

img{
    width: 100%;
}

.title{
    grid-area: title;
}

.image{
    grid-area: image;
}

.instruction{
    grid-area: instruction;
}

.emptyInfoContainer{

}

.favContainer{
    background-color: yellowgreen;
}

.emptyFavContainer{
    
}


footer{
    display: block;
    
}