

html, body{
    background-color: #230312;
    color: white;
    text-align: center;
    font-size: 1.25em;
}

.mainContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
}

.cocktailContainer{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "image info"
    "instruction instruction";
}

.buttons{
    background-color: blue;
}

#randomBtn, #favBtn{
    background-color: red;
    cursor: pointer;
    margin: 1em;
}

#randomBtn{
    background-color: red;
    cursor: pointer;
}

#favBtn{
    
}

img{
    width: 100%;
}

.title{
    grid-area: title;
}

.image{
    grid-area: image;
}

.instruction{
    grid-area: instruction;
    margin: auto 1em;
}

ul{
    text-align: left;
}

#emptyInfoContainer{
    background-color: wheat;
    display: none;

    
}

.favContainer{
    background-color: yellowgreen;
    min-height: 100px;
    padding: 10px;
}
.fav-item {
    background-color: #f0f0f0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    color: black; 
}
.emptyFavContainer{

}


footer{
    display: block;
    
}