body{
    background-color: #230312;
    color: white;
    text-align: center;
    font-size: 1.25em;
}

.mainContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.infoContainer{
    background-color: aquamarine;
}

.emptyInfoContainer{

}

.favContainer{
    background-color: yellowgreen;
}

.emptyFavContainer{
    
}


footer{
    display: block;
    
}